<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Cotizacion</title>
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Cotizacion</title>
</head>
<body>
    <div class="container p-3 mb-2 bg-primary text-white">
        <center>
            <h1>Cotizacion</h1>
            <form action="/cotizacionC" method="post">
                <label for="Valor del automovil"></label>
                <br>
                <input type="number" name="valor" id="valor" required="true">
                <br>
                <br>
                <label for="">Porcentaje de Pago Inicial</label>
                <select name="pInicial" id="pInicial">
                    <option value="10">10%</option>
                    <option value="20">20%</option>
                    <option value="30">30%</option>
                    <option value="40">40%</option>
                    <option value="50">50%</option>
                    <option value="70">70%</option>
                </select>
                <br>
                <br>
                <label for="">Plazos</label>
                <select name="plazos" id="plazos">
                    <option value="12">12 Meses</option>
                    <option value="24">24 Meses</option>
                    <option value="36">36 Meses</option>
                    <option value="48">48 Meses</option>
                    <option value="60">60 Meses</option>
                    <option value="72">72 Meses</option>
                </select>
                <button type="submit">Enviar</button>
            </form>
        </center>
    </div>
    <div class="container p-3 mb-2 bg-primary-subtle text-emphasis-primary">
        <%
        if(pInicial!=0){
            var pagoInicial=0;
            var totalFin=0;
            var pagoMensual=0;
            pagoInicial= valor*(pInicial/100);
            totalFin= valor-pagoInicial;
            pagoMensual=totalFin/plazos;
        }
        %>
        <h3>Resumen de la cotizacion</h3>
        <br>
        <hr>
        Valor del Automovil:<%=valor%>
        <br>
        Porcentaje de pago inicial:<%=pInicial%>
        <br>
        Plazos:<%=plazos%>
        <br>
        Pago Inicial:<%=pagoInicial%>   
        <br> 
        Total a financiar:<%=totalFin%> 
        <br>  
        Pago mensual:<%=pagoMensual%>
    </div>
</body>
</html>