<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="./css/bootstrap.min.css">
<script src="./app1.js"></script>
<title>Practicas 01 EJS</title>

</head>
<body>
    <center>
        <header>Carlos Omar Osuna Pineda 8-4</header>
    </center>

    <div class="container">

        <center>
            <%=titulo%>
            <br>
            <img src="./img/descarga.png" alt="">
            <br>
        </center>

        <table class="table table-danger">

            <tr>
                <th>Matricula</th>
                <th>Nombre</th>
                <th>Sexo</th>
                <th>Materias</th>
            </tr>
            <% for(alumno of listado){ %>
                <tr>
                    <td><%=alumno.matricula%></td>
                    <td><%=alumno.nombre%></td>
                    <td><%=alumno.sexo%></td>
                    <td><%=alumno.materias%></td>
                </tr>

                <%
                 }
                 %>
         </table>
    </div>
</div>
</body>
</html>
