<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <title>Tablas de Multiplicar</title>
</head>
<body>
    <div class="container">
        <h1>Tabla de Multiplicar</h1>
        <form action="/tablasC" method="post">
            Numero Tabla: <input type="number" id="tablas" name="tablas" required="true" value="<%=tablas%>">
            <button type="submit">Enviar</button>
        </form>
                <%
                if(tablas!=null){
                    let res=0;

                    for(con=1;con<=10;++con){
                        res = con*tablas;
                        %>
                        <h3><%=tablas%> * <%=con%> = <%=res%></h3>
                        <%
                    }
                }
                
                
                %>

           
       
    </div>
    
</body>
</html>